/* my-demo */
.canvas-image-wrapper {
  touch-action: none;
  width: 300px;
  margin: 0 auto;
  position: relative;
}

.canvas-image {
  border: 3px dotted #666;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 10px;
}

.canvas-image-h2 {
  margin: 0px;
}

.image-canvas {
  background-color: #eee;
  box-sizing: border-box;
}

.other-canvas {
  z-index: 1000;
}